/*########GENERAL STYLING AND ORGANIZATION###########*/

body{
    font-family:  Georgia , sans-serif;
    background-color: rgba(35, 81, 209, 0.418);
    height: 100%;
    min-width:300px;
    margin: 0;
}

#title{
    font-family: Tahoma, 'Gill Sans MT', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
}

#description{
    text-align: center;
    font-style: italic;
    padding-bottom: 2em;
}

#number{
    width: 240px;
}

/*form container*/
#survey-form{

    background-color: rgb(247, 247, 247);
    /*readjusts the margin to center to the container*/
    width: 65%;
    max-width: 800px;
    margin: 0 auto;

    /*Want it to stretch the whole screen*/
    min-height: 900px;

    box-shadow: 60px -16px rgba(128, 128, 128, 0.411);
    padding:5vh;

    display: grid;
    grid-template-rows: 5%;

}

.row{
    display: grid;
    grid-template-columns: 50% 50%; /*Setting two halfs aka, 50% width for each item/half*/
    grid-column-gap: 5px; /*creates a 5px gap between the two columns*/
    
    /*temp
    border: 1px white solid;*/
}

.left-col{

    text-align: right;
    padding: 5px;

    /*temp
    border: 3px blue solid;
    background-color:white;*/
}

.right-col{

    padding: 5px;
    /*temp
    border: 3px red solid;
    background-color:rgb(255, 255, 121);*/
}

/*cell containing button:
Used for centering a button
at bottom of table via td*/
.submit-button{
    display: flex;
    justify-content: center;
    padding: 3vh 0 1vh 0;
    margin-top: 20px;

    /*border: 2px solid black;*/
}

/*###################Customized Styling###################*/

/*the actual button itself;
customized styling*/
#submit{
    /*color*/
    color: white;
    background-color: rgb(0, 108, 151);
    
    /*design*/
    border: none;
    border-radius: 4px;
    font-size: large;
    padding: 5px 10px 5px 10px;
}

#submit:hover{
    background-color: rgb(154, 205, 50);
}

#submit:active{
    background-color: purple;
}

textarea::placeholder, input::placeholder{
    text-align: center;
    font-style: italic;
    padding-top: 10%;
}

ul{
    margin-top: 0;
    display: block;
}

li{
    list-style: none;
    padding: 0.5em 0 0.5em 0;

    max-height: 1em;

    /*border: 1px green solid;*/
}

/*styling input boxes*/
input[type="text"], input[type="email"], input[type="number"], select, textarea{
    padding: 5px;
    border-radius: 5px;
    border: 2px rgb(209, 209, 209) solid;

}

/*responsive sizing for smaller screens*/
@media only screen and (max-width: 875px){

    input, textarea, #number{
        width: 80%;
    }

    input[type="radio"], input[type="checkbox"]{
        width: 10%;
    }
}

/*responsive sizing for smaller screens*/
@media only screen and (max-width: 475px){

    #title{
        font-size: 35px;
    }

    #survey-form{
        display: flex;
        flex-direction: column;
    }

    .row{
        display: flex;
        flex-direction: column;
        
        margin-bottom:1vh;
        /*temp*/
        border: 1px white solid;
    }

    .left-col{
        text-align: left;
    }

}
